.paginacion {
    height: 150px;
    background-color: $platinum;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.paginacion nav  {
    border-radius: 10px 10px 10px 10px;
}