.article__info_text-playfair {
    padding: 30px 20px;
}
.article__info_text-roboto {
    padding: 10px 20px;
}
    

.article__biography p {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
}
.article__biography h2, h3 {
    text-align: center;
    
}
.article__biography {
    margin: 50px 0;
}
.article__biography h2{
    margin: 20px 0;
}
.article__biography img{
    border-radius: 150px;
    display: block;
    margin: 0 auto;
}