.hero-section {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 800px;
}

.hero-section div {
  height: 50px;
  width: 50px;
}

.hero-section .arrow {
  padding-bottom: 20px;
}
